.shadow {
  width: 10%;
  height: 10%;
}

.categoryIcon {
  /* width: 25%; */
  /* padding-left: .46875rem; */
  /* padding-right: 0.46875rem; */
  /* display: inline-block; */
  text-align: center;
  margin-top: 30px;
}

.shadow:hover {
  cursor: pointer;
  transform: translate(0, -15px);
  transition: all 0.5s;
}
